/*////////// mainpage/////////////////*/
#menuSection {
  display: flex;
  flex-direction: row;
}

#aboutjoo {
  background-color: pink;
  font-size: 21px;
}
.mainPageMenuWords {
  margin: 0px;
  font-family: FISHfinger;
  font-size: 10px;
}
#project {

  background-color: #8cd98c;
  font-size: 17px;
}

#studystuff {
  background-color: #8cd98c;
  font-size: 17px;
}

#socialmedia {
  background-color: pink ;
  font-size: 21px;
}


#aboutjoo, #project, #studystuff, #socialmedia {
  width: 250px;
  height: 370px;
  border-radius: 15px;
  font-family: Freebooter Script;
  opacity: 0.5;
  filter: alpha(opacity=40);
  text-align: center;
  margin: 10px;
}

@media only screen and (max-width: 975px) {
  #menuSection {
  display: flex;
  flex-direction: column;
}
  #menuSection div {
    width: 95%;
    height: 50%;
  }
  .mainPageMenuIMG {
    display: none;
  }
  h2 {
    display: none;
  }
  .mainPageMenuWords {
    font-size: 20px;
    text-align: center;
  }
}


/*///////////base screen////////*/
.blogTitle {
  margin-top: 0px;
  text-align: center;
  font-size: 90px;
  font-family: deus etched machina;
}

.menuBar {
  border: 2px solid green;
  border-radius: 20px;
  text-align: center;
  margin: 10px;
  background-color: #ffe5ff;
  padding: 10px;
}
.menuBar img {
  margin-left: 10px;
}

@media only screen and (max-width: 640px) {
  .headPart {
    padding: .1em .1em .1em 2em;
    float: none;
  }

    .menuBar img {
      display: none;
    }

    .navBar {
      padding: .2em .2em .2em 2em;
    }

    .navBar ul {
      display: block;
    }

    .navBar ul li {
      display: flex;
      flex-direction: column;
      border-bottom: none;
      padding: 5px;
    }

    .navBar ul li:hover a {
      color: light pink;
    }

  }


  @media only screen and (min-width: 992px) {
    .blogTitle {
      color: #b2b300;
    }
  }


/*////project////*/
.projectRow {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-right: 70px;
  margin-left: 70px;
}

.project {
  width: 300px;
  height: 320px;
  background-color: white;
  border: 2px solid grey;
  border-radius: 50px;
  opacity: 0.5;
  filter: alpha(opacity=40);
  text-align: center;
  /*font-style: */
  margin: 10px;
}

.project h3 {
  margin: 30px;
  font-family: Apple Chancery;
  color: #a42662;
}

.project p {
  /*font-family: American Typewriter;*/
    font-family: sans-serif;
    font-size: 12px;
    margin-left: 20px;
    margin-right: 20px;
}

.info {
  color: gray;
  text-align: center;
  font-family: sans-serif;
  font-size: 13px;
}

@media only screen and (max-width:768px) {
  .projectRow {
    display: flex;
    flex-direction: column;
  }
  .project {
    width: 300px;
    height: 60px;
    border: 2px solid grey;
    border-radius: 20px;
    padding: 5px;
  }
}

/*/////// about me ////////*/

img.myPic {
  width: 80%;
  height: 93%;
  margin-left: 20px;
  float: left;
  border-radius: 10px;
}

.myPic-div {
  width: 27%;
  height: 350px;
  margin-left: 5%;
  float: left;
}

.vertical {
  border: 1px solid rgba(153, 144, 157, 0.72);
  height: 21em;
  float: left;
  margin-right: 5%;
}

.profile-div {
  width: 65%;
  margin-left: 30%;
  height: 60%;
}

.profile-div p {
  color: rgba(87, 89, 88, 0.83);
}
@media only screen (min-width:641px) and  (max-width: 1196) {

}

@media only screen and (max-width: 640px) {
  img.myPic {
    display: none;
  }
  .vertical {
    display: none;
  }
  .introduceME {
    text-align: center;
    height: 100%;
    margin-left: 0px;
  }
  .profile-div {
    height: 80%;
  }
}
